<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel='stylesheet' href='assets/style.css'/>
    <link rel="stylesheet" href="assets/caroussel/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/caroussel/owl.theme.default.min.css">
    <title>Music'all</title>
</head>
<body>

<div id="titre">
    <div class="margin">
        <img class="titre" src="assets/images/visualizer-logo.gif"/>

    </div>
    <audio controls autoplay id="stream-player">
        <source src="http://voxystudio.com:25567/stream?type=.mp3">
        Your browser does not support the audio element.
    </audio>
<section id="main">
    <article id="playlist">
        <div class="float_left">
            <img id="fleche_gauche" dragged="false" src="assets/images/fleche_gauche.png"/>
        </div>
        <div class="float_right">
            <img id="fleche_droite" dragged="false" src="assets/images/fleche_droite.png"/>
        </div>
        <div class="margin">
            <div class="owl-carousel owl-theme">
                <%- vignettes %>
            </div>
        </div>
</article>
<div class="margin">
<section id="player">
    <iframe id="frame_player" src=""></iframe>
</section>
        <div class="margin">
            <article>
            <iframe id="frame_player"></iframe>
            </article>
            <article id="contenu">
                <article id="chat">
                    <div id="users">
                    </div>

                    <div id="messages">
                        <div class="message" id="msgtpl" >
                            <div class="info">
                                <p><strong>{{user.username}}  </strong> <span class="date">{{h}}:{{m}}</span></p>
                                <p>{{message}}</p>

                            </div>
                        </div>
                    </div>

                    <div id="login">
                        <form action="" id="loginform">
                            <h1>Bienvenue</h1>
                            <input type="text" name="login" id="username" placeholder="Nom d'utilisateur">
                            <input type="submit" value="Connection"> 
                        </form>
                    </div>


                </article>


                <form action="" id="form">
                    <input type="text" id="message" class="text"/>
                    <input type="submit" id="send" value="Envoyer" class="submit" />
                </form>
                <article id="upload">
                    <div id="dropfile">Glissez une musique depuis votre ordinateur</div>
                    <img id="dropfile_img" src="assets/images/icon_upload.png" />
                    <form method="post" action="../" enctype="multipart/form-data">
                        <input type="file" id="input_musique" name="musique" />
                         <input type="submit" value="Envoyer">
                    </form>
                </article>
            </article>
        </div>


    </section>

    <script src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="assets/caroussel/owl.carousel.min.js"></script>
    <script src='assets/index.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="assets/client.js"></script>
    <script src="assets/mustache.js"></script>
    <script>
        var socket = io.connect('http://voxystudio.com:25568');
    </script>

</body>
</html>
